

.form-size {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.search-size {
    width: 300px;
    margin-bottom: 20px;
    float: right;
}


.ant-table-thead > tr >th{
    color: white !important;
    background: #3071b9 !important;
  }


  #components-layout-demo-top-side .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }
